.main-container{
    background-color: bisque;
    max-width: 960px;
    width: 960px;
}
.menu-item {
    white-space: nowrap;
    margin: 10px;
}
.blue-with-margin{
    margin: 30px;
    font-size: 20px;
    height: 100px;
}

.big-text{
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 5rem;
    letter-spacing: 1.25px;
    color: ;