.main-container{
    background-color: red;
    max-width: 960px;
    width: 960px;
}

.menu-item {
    white-space: nowrap;
    margin: 10px;
}

.phone-picture{
    background-color: green;
}

.big-text{
    font-size: 40px;
}