.main-container{
    background-color: red;
    max-width: 960px;
    width: 960px;
}

.menu-item {
    white-space: nowrap;
    margin: 10px;
}

.phone-picture{
    background-color: green;
}

.big-text{
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 5rem;
    letter-spacing: 1.25px;
    color: ;

}

 .blue-with-margin{
     margin: 20px;
     font-size: 20px;
     height: 100px;
 }
